/* Importing fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&family=Roboto&family=Ubuntu&display=swap');

:root {
    --primary-colour: white;
    --secondary-colour: #4484CE;
    --tertiary-colour: #D9D9D9;
    --quartery-colour: #F19F4D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-colour);
    font-family: "Roboto", "Ubuntu", "Open Sans", "Nunito Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* header style starts */
header {
    color: var(--secondary-colour);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--tertiary-colour);
}
/* header style ends */

/* page style starts */
.page {
    display: flex;
    width: 50%;
    height: 500px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page p {
    text-align: center;
    margin: 20px 0;
}

.page button {
    background-color: var(--quartery-colour);
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.page ul{
    list-style: none;
}

.page ul li button {
    margin: 10px;
}

.page button:hover {
    opacity: 50%;
}

.page h3 {
    margin: 10px;
    color: var(--secondary-colour);
}

.page div {
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

.page div label {
    padding: 5px 0;
}

.page div input {
    margin-bottom: 5px;
    border:2px solid var(--tertiary-colour);
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid var(--tertiary-colour);
}

.result span {
    background-color: var(--tertiary-colour);
    padding: 20px;
    margin: 10px 5px;
    border-radius: 10px;
}
/* page style ends */

@media screen and (max-width: 768px) {
    /* introduction page style starts */
    .page{
        width: 85%;
    }
    /* introduction page style ends */
}

@media screen and (max-width: 576px) {
    /* introduction page style starts */
    .page {
        height: 100%;
        margin-top: 20px;
    }
    /* introduction page style ends */
}